@charset "UTF-8";
/* scss map 없애는법 
    F1 검색 setting.json
    ,
    "liveSassCompile.settings.formats":[
        {
            "format": "expanded",
            "extensionName": ".css",
            "savePath": "~/../css"
        }
    ],
    "liveSassCompile.settings.generateMap": false,
    추가
*/
.aniTestWrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 100px;
  width: 100%;
  max-width: 1200px;
  height: 100vh;
  margin: 0 auto;
}
.aniTestWrap .ani_text {
  position: relative;
  top: 20px;
  display: inline-block;
  animation: bounce-text 0.5s ease infinite alternate;
  font-family: "Titan One", cursive;
  font-size: 80px;
  color: #FFF;
  text-shadow: 0 1px 0 #CCC, 0 2px 0 #CCC, 0 3px 0 #CCC, 0 4px 0 #CCC, 0 5px 0 #CCC, 0 6px 0 transparent, 0 7px 0 transparent, 0 8px 0 transparent, 0 9px 0 transparent, 0 10px 10px rgba(0, 0, 0, 0.4);
}
.aniTestWrap .ani_circle {
  position: relative;
  top: 20px;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background-color: #000;
  animation: bounce 0.5s 0.2s ease infinite alternate;
}

@keyframes bounce-text {
  100% {
    top: -20px;
    text-shadow: 0 1px 0 #CCC, 0 2px 0 #CCC, 0 3px 0 #CCC, 0 4px 0 #CCC, 0 5px 0 #CCC, 0 6px 0 #CCC, 0 7px 0 #CCC, 0 8px 0 #CCC, 0 9px 0 #CCC, 0 50px 25px rgba(0, 0, 0, 0.2);
  }
}
@keyframes bounce {
  100% {
    top: -20px;
  }
}