html{ font-family: 'Noto Sans KR', sans-serif;}
body{ margin: 0;}
div, section, header, footer, p, h1, h2{ box-sizing: border-box;}
a{ color: rgb(65, 201, 255);}
img{ max-width: 100%; height: auto;}

.global-width{max-width: 620px; margin: 0 auto; padding: 0 1rem;}

.scroll-graphic{ overflow-x: hidden; position: sticky; top: 0; height: 100vh;
	.graphic-item{ display: flex; align-items: center; justify-content: center; position: absolute; top: 0; left: 0; width: 100%; height: 100%; opacity: 0; transition: 0.5s; will-change:opacity;
		&.visible{ opacity: 1;}
		.scene-img{ max-height: 100vh;}
		.bird{ position: absolute; bottom: 70%;; left: 0; width: 15vw; max-width: 100px; transform: translateX(-100%); transition: 1.5s 0.5s linear;}
		&[data-index="5"] .bird{ bottom: 30%; left: 30%;;}
	}
}

.scroll-text{ position: relative; padding-bottom: 1px;
	.step{ margin-bottom: 60vh; padding: 0.2rem 1rem; border-radius: 10px; background: rgba(255,255,255,0.8); box-shadow: rgba(0,0,0,0.3) 0 0 3px;
		.strikethrough{	text-decoration: line-through;}
	}
}

.global-footer{ padding: 2rem 0; text-align: center;}

